<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccione la Empresa</title>
    <link href="../public/css/styles_Index.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Playfair+Display:wght@700&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="container">
        <h2>Selecciona la Empresa</h2>
        <div class="empresas-container">
            <button class="empresa-btn" onclick="window.location.href='../views/Formulario_Parvada.html'">
                <img src="../Assets/PARVADA.png" alt="Parvada">
                <span class="empresa-nombre">Parvada</span>
            </button>
            <button class="empresa-btn" class="empresa-btn"
                onclick="window.location.href='../views/Formulario_Eventival.html'">
                <img src="../Assets/logos/selloColor.png" alt="Eventival">
                <span class="empresa-nombre">Eventival</span>
            </button>
        </div>
    </div>
</body>

</html>